<style type="text/css" title="">
    container #contents .section{ width:100%}
    #container #contents .section .start{ height:30px; padding:10px 0 0 0; overflow:hidden;}
    #container #contents .section .start .icon{ float:left}
    #container #contents .section .start .icon ul{}
    #container #contents .section .start .icon ul li{ float:left; padding-right:10px;}
    #container #contents .section .start .button{ float:right;}
    #container #contents .section .start .button button{height:32px; width:100px; color:#fff; background-color:#333; border:0; cursor:pointer; padding-bottom:5px;}
    #container #contents .section .calendar{}
    #container #contents .section .calendar .month{ text-align:center; font-size:1.3em; height:20px; padding-bottom:10px;}
    #container #contents .section .calendar .month img{ padding:0 6px 0 6px;}
    #container #contents .section .calendar .caltable{}
    #container #contents .section .calendar .caltable .finish{ color:#a16e6e; font-weight:bold;}
    #container #contents .section .calendar .caltable .wait{color:#6e8aa1; font-weight:bold;}
    #container #contents .section .calendar .caltable table{}
    #container #contents .section .calendar .caltable table .sun{background-color:#a16e6e}
    #container #contents .section .calendar .caltable table .sat{background-color:#6e8aa1}
    #container #contents .section .calendar .caltable table th{ background-color:#888; color:#fff; border-right:1px solid #fff; border-bottom:1px solid #fff;height:40px; font-size:1.2em;text-align: center }
    #container #contents .section .calendar .caltable table td{ background-color:#eee; border-right:1px solid #fff; border-bottom:1px solid #fff; height:120px; text-align:center; position:relative;font-size:1.1em}
    #container #contents .section .calendar .caltable table td .day{ position:absolute; top:6px; left:6px; color:#999;}
    #container #contents .section .calendar .caltable button{ background-color:#fff; border:1px solid #ccc; color:#999; padding:2px; width:60px; margin-top:5px; cursor:pointer}


    #container #contents .section .sum{ border:1px solid #ccc; padding:12px;height:800px}
    #container #contents .section .sum .infos{}
    #container #contents .section .sum .infos table{ width:100%;}
    #container #contents .section .sum .infos table td{ border:1px solid #ccc; height:2px; padding:0 10px 0 10px; }
    #container #contents .section .sum .infos table .info_tit{ height:38px; text-align:center; background-color:#888; color:#fff; border:none;}
    #container #contents .section .sum .infos table .border_none{ border:none;}
    #container #contents .section .sum .infos table .border_left{ border-left:none;}
    #container #contents .section .sum .guest{ padding-top:25px;}
    #container #contents .section .sum .guest table{ text-align:center; width:100%; border:1px solid #ccc; border-left:none; border-bottom:none; margin-top:10px;}
    #container #contents .section .sum .guest{}
    #container #contents .section .sum .guest table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; }
    #container #contents .section .sum .guest table td select{ margin:0 3px 0 3px; width:60px; border:1px solid #ccc;}
    #container #contents .section .sum .guest table .border_left{ }
    #container #contents .section .sum .choice{ width:100%; padding-top:25px; height:200px;}
    #container #contents .section .sum .choice .option{ width:100% }
    #container #contents .section .sum .choice .option .tit{}
    #container #contents .section .sum .choice .option .optionsel{border:1px solid #ccc; margin-top:10px;}
    #container #contents .section .sum .choice .option .optionsel ul{ margin:20px;}
    #container #contents .section .sum .choice .option .optionsel ul li{ height:26px; vertical-align:top;}
    #container #contents .section .sum .choice .option .optionsel ul li input{ vertical-align:-2px; margin:3px;}
    #container #contents .section .sum .choice .option .optionsel ul li .sel_right{ float:right;}
    #container #contents .section .sum .choice .option .optionsel ul li .sel_right select{ width:80px; border:1px solid #ccc;}
    #container #contents .section .sum .choice .amount{ width:100%; }
    #container #contents .section .sum .choice .amount table{margin-top:10px;border:1px solid #ccc; height:170px;}
    #container #contents .section .sum .choice .amount table td{ padding:20px;}
    #container #contents .section .sum .choice .amount table .amount_tit{ background-color:#eee;}
    #container #contents .section .sum .choice .amount table .amount_txt{ border-left:1px solid #ccc;}
    #container #contents .section .sum .choice .amount table .amount_txt p{ display:inline-block; border-bottom:2px solid #333; padding-bottom:10px;}
    #container #contents .section .sum .choice .amount table .amount_txt .sum_f{font-size:30px; color:#a16e6e}
    #container #contents .section .sum .choice .amount table .amount_txt .sum_f span{ font-size:46px; color:#a16e6e}
    #container #contents .section .nextbtn{ height:32px; margin-top:14px;}
    #container #contents .section .nextbtn button{ height:32px; width:100px; color:#fff; background-color:#333; border:0; margin-top:30px; cursor:pointer}
    #container #contents .section .nextbtn button span{}

    #container #contents .section .garo{height:38px; text-align:center; background-color:#eee; color:#333;}
    #container #contents .section .sero{height:38px; text-align:center; background-color:#eee; color:#333;}

    #container #contents .section .last{ border:1px solid #ccc; padding:12px;}
    #container #contents .section .last .tit{ font-size:1.2em; margin-bottom:10px;}
    #container #contents .section .last .tit img{ margin-right:10px;}
    #container #contents .section .last .check{}
    #container #contents .section .last .check table{ width:100%; border:1px solid #ccc; margin-bottom:30px; border-left:none; border-bottom:none}
    #container #contents .section .last .check table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; padding:0 10px 0 10px; }
    #container #contents .section .last .data{}
    #container #contents .section .last .data table{ width:100%; border:1px solid #ccc; margin-bottom:30px; border-left:none; border-bottom:none}
    #container #contents .section .last .data table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; padding:0 10px 0 10px; }
    #container #contents .section .last .data table td select{ width:80px; border:1px solid #ccc; height:24px;}
    #container #contents .section .last .data table td input{ width:200px; height:20px; border:1px solid #ccc;}
    #container #contents .section .last .refund{ margin-bottom:30px;}
    #container #contents .section .last .refund p{ line-height:1.4em; padding-bottom:14px;}
    #container #contents .section .last .refund table{ text-align:center; width:100%; border:1px solid #ccc; border-left:none; border-bottom:none}
    #container #contents .section .last .refund table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; }
    #container #contents .section .last .policy{ line-height:1.5em;}
    #container #contents .section .last .policy b{font-size:1.1em; padding-bottom:3px;}
    #container #contents .section .last .policy .policy_check{ height:30px; padding-top:10px; margin-top:10px; border-top:1px dotted #666;}
    #container #contents .section .last .policy .policy_check input{ vertical-align:-1px;}

    #container #contents .confirm{ position:absolute; right:0; top:121px; width:100%; height:470px; background-color:#fff; border:1px solid #ccc;}
    #container #contents .confirm .form{ background-color:#fff; padding:16px 46px 0 46px;}
    #container #contents .confirm .form ul{ padding:20px 0 30px 0; border-bottom:1px solid #999;}
    #container #contents .confirm .form ul li{ height:40px; vertical-align:middle;}
    #container #contents .confirm .form ul li p{ width:130px;height:34px; text-align:right; float:left;vertical-align:middle; font-size:1.1em; padding:6px 10px 0 0;}
    #container #contents .confirm .form ul li input{ border:1px solid #ccc; width:200px; height:28px;}
    #container #contents .confirm .tit{ margin:76px 46px 0 46px; padding:0 0 16px 0; border-bottom:1px solid #333;}
    #container #contents .confirm .form2{ padding:0 46px 0 46px;}
    #container #contents .confirm .sero{height:38px; text-align:center; background-color:#eee; color:#333;}
    #container #contents .confirm .form2 table{width:100%; border:1px solid #ccc;border-left:none; border-bottom:none}
    #container #contents .confirm .form2 table td{border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; padding:0 10px 0 10px; }
    #container #contents .confirm .button{height:32px; margin-top:14px; text-align:center;}
    #container #contents .confirm .button button{height:32px; width:100px; color:#fff; background-color:#333; border:0; cursor:pointer}

    #container #contents .section .last .guide{}
    #container #contents .section .last .guide p{ line-height:1.4em; padding-bottom:14px;}
    #container #contents .section .last .guide table{ text-align:center; width:100%; border:1px solid #ccc; border-left:none; border-bottom:none}
    #container #contents .section .last .guide table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc;height:38px; }


    #container #contents .section .last .infos{}
    #container #contents .section .last .infos table{ width:100%; border-top:none; margin-bottom:10px;}
    #container #contents .section .last .infos table td{ border:1px solid #ccc; height:2px; padding:0 10px 0 10px; text-align:left; }
    #container #contents .section .last .infos table .info_tit{ height:38px; text-align:center; background-color:#eee; color:#333; border-bottom:1px solid #ccc;border-top:1px solid #ccc;border-right:none; }
    #container #contents .section .last .infos table .border_none{ border:none;}
    #container #contents .section .last .infos table .border_left{ border-right:none;}

</style>
<div id="contents">
    <div class="title text-center"><img src="/asset/front/images/sub/tt_reserve.jpg" style="width:70%;margin:0 auto"></div>

    <!-- 1단계 달력 요금정보 및 예약 -->
    <div class="section">

        <div class="calendar" style="padding-bottom:30px;">
            <form id="FrmAttendanceSearchs"  onsubmit='return false;'>
                <input type="hidden" name="leavedate" id="leavedate" value="<?=date('Y-m-d')?>" class=" datepicker"  />

                <input type="hidden" name="str_year" id="str_year" value="<?=date('Y')?>" />
                <input type="hidden" name="str_month" id="str_month" value="<?=date('m')?>" />
                <input type="hidden" name="str_day" id="str_day" value="<?=date('d')?>" />

                <div class="month " style="width:100%">
                    <img src="/asset/front/images/sub/prev.jpg" onclick="InoutInList.leftdates()" style="cursor:pointer;" >
                    <span id="temp_year"><?=date('Y')?></span>.<span id="temp_month"><?=date('m')?></span>
                    <img src="/asset/front/images/sub/next.jpg" onclick="InoutInList.rightdates()" style="cursor:pointer;">
                </div>
            </form>

            <br><br>
            <div id="search_result" class="padding"></div>

        </div>
    </div>

    <div id="search_result_wr"></div>

</div>

<script language="javascript" src="/asset/admin/js/jquery.maskedinput.min.js"></script>

<script type="text/javascript">
    var InoutInList = {
        page:1,
        init: function() {
            this.lodeindex();
        },
        reload : function(page) {
            InoutInList.lodeindex(page);
        },
        leftdates: function() {
//					var date = $("#str_year").val()+"-"+$("#str_month").val()+"-"+$("#str_day").val();
            var date = $("#str_year").val()+"-"+$("#str_month").val()+"-01";
            var newDt = new Date(date);
            newDt.setMonth( newDt.getMonth() - 1 );
            newDt.setDate(1);
//					var resultDate = InoutInList.converDateString(newDt) ;

            var tty = newDt.getFullYear() ;
            var ttm = InoutInList.addZero(eval(newDt.getMonth()+1)) ;

            $("#str_year").val(tty) ;
            $("#str_month").val(ttm) ;

            $("#temp_year").html(tty) ;
            $("#temp_month").html(ttm) ;

//					$("#leavedate").val(resultDate);
            InoutInList.lodeindex()
        },
        converDateString : function(dt) {
            return dt.getFullYear() + "-" + InoutInList.addZero(eval(dt.getMonth()+1)) + "-" + InoutInList.addZero(dt.getDate());
        },
        addZero : function(i) {
            var rtn = i + 100;
            return rtn.toString().substring(1,3);
        },
        rightdates: function() {
//					var dt = $("#str_year").val()+"-"+$("#str_month").val()+"-"+$("#str_day").val();
            var dt = $("#str_year").val()+"-"+$("#str_month").val()+"-01";
            var newDt = new Date(dt);
            newDt.setMonth( newDt.getMonth() + 1 );
            newDt.setDate(1);

            var tty = newDt.getFullYear() ;
            var ttm = InoutInList.addZero(eval(newDt.getMonth()+1)) ;


            $("#str_year").val(tty) ;
            $("#str_month").val(ttm) ;

            $("#temp_year").html(tty) ;
            $("#temp_month").html(ttm) ;

            InoutInList.lodeindex()
        },
        openInput: function(inout_no) {
            var title = (inout_no)?'asd':'asdas';
            var modal = new HmisModal('inout_input', {width:575, top:206});
            modal.open(title,'/front/reserve/openlist_ser',{inout_no:inout_no});
        },
        readlodeview: function(temp1,temp2) {


            var _data = "&temp1="+temp1+"&temp2="+temp2 ;
            $.ajax({
                type: 'POST',
                url: '/front/reserve/writepage',
                data : _data,
                dataType : "html", //전송받을 데이터의 타입
                success : function(jsondata) {

                    $('#search_result_wr').html(jsondata) ;
                    //$('html, body').scrollTop( $(document).height()/2 );
                    $('html, body').scrollTop( $('.sum').offset().top - 20 );
                }
            });
        },
        delete_all: function(seqno) {
            var seqno ;
            var ans = confirm("삭제를 진행하시겠습니까?");
            if (ans == false) {
                return ;
            }
            $.ajax({
                type: "POST",
                url: "/front/reserve/delete_all/",
                data: { seqno: seqno },
                success: function(result_data){
                    //						$("#suar_name").html(result_data) ;
                    InoutInList.lodeindex();
                }
            });
        },
        lodeindex: function() {

            var _data = $('#FrmAttendanceSearchs').serialize()  ;

            $.ajax({
                type: 'POST',
                url: '/front/reserve/lists',
                data : _data,
                dataType : "html", //전송받을 데이터의 타입
                success : function(jsondata) {
                    $('#search_result').html(jsondata) ;
                }
            });
        }
    }

    $(function() {
        InoutInList.init();
    })
</script>







